*{
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Golos Text';
}
.screen-rack{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.port-list-content{
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title{
  color: rgba(118, 43, 60, 1);
  font-weight: bold;
}
.port-list-item h2, p{
  color: rgb(31, 29, 29);
  font-weight: bold;
}
.table{
  width: 96%;
  text-align: center;
  border-collapse: collapse;
}
.table th{
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: rgba(118, 43, 60, 1);
  text-align: center;
}
.table td{
  padding: 0.5rem;
  text-align: center;
  color: rgb(31, 29, 29);
}
.table-container{
  width: 100%;
  height: 1000px;
  overflow-y: auto;
  overflow-x: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-content{
  width: 100%;
  text-align: center;
  padding: 2rem;
}
.btn-return{
  width: 150px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: rgba(118, 43, 60, 1);
  cursor: pointer;
  border-radius: 20px;
}
.btn-return:hover {
  background-color: rgba(165, 127, 44, 1);
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border: none;
}
.rack-item{
    cursor: pointer;
    transition: transform 0.1s ease;
}
.rack-item:hover{
    transform: scale(1.005);
    transform-origin: center;
}
a{
  color: white;
  text-decoration: none;
}
a:visited{
  color: white;
}